{% extends 'base.html.twig' %}
{% form_theme form _self %}

{% block javascripts %}
    {% javascripts
    'bundles/zenomaniacore/system/plugins/datepicker/bootstrap-datepicker.js'
    'bundles/zenomaniacore/system/plugins/datepicker/locales/bootstrap-datepicker.ru.js'
    'bundles/zenomaniacore/plugins/datepicker/settings.js'
	'bundles/zenomaniacore/system/plugins/select2/select2.js'
	'bundles/zenomaniacore/system/plugins/select2/i18n/ru.js'
	'bundles/tetranzselect2entity/js/select2entity.js'
	'bundles/zenomaniacore/js/collection.js'
	%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets
    'bundles/zenomaniacore/system/plugins/datepicker/datepicker3.css'
    'bundles/zenomaniacore/plugins/datepicker/style.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}


{% block body %}


    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="box box-primary">
                {{ form_start(form) }}
                <div class="box-header with-border">
                    {% if form.vars.value.id is null %}
                        <h3 class="box-title">Создание пользователя</h3>
                    {% else %}
                        <h3 class="box-title">Редактирование пользователя</h3>
                    {% endif %}
                </div>
                <div class="box-body">
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.middlename) }}
                    {{ form_row(form.login) }}
                    {{ form_row(form.password) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.phone) }}
					{{ form_widget(form) }}
				</div>
				<div class="box-footer">
					<ul class="pull-right">
						<a class="btn btn-default" href="{{ path('user_index') }}">Отмена</a>
						<input type="submit" class="btn btn-primary" value="Сохранить"/>
						{{ form_end(form) }}
					</ul>
					{% if delete_form is defined %}
						{{ form_start(delete_form) }}
						<input id="user_delete_button" class="btn btn-danger pull-left btn-delete" type="submit"
							   value="Delete">
						{{ form_end(delete_form) }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{{ confirm('#user_delete_button') }}
{% endblock %}