{% extends 'base.html.twig' %}

{% block body %}
    <h1>User list</h1>

    <div>
        {% include '@Task/form/search.html.twig' with {form: searchForm} %}
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Login</th>
                <th>Email</th>
                <th>Isactive</th>
                <th>Issuperuser</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
			{% for user in users %}
				<tr>
					<td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
					<td>{{ user.firstname }}</td>
					<td>{{ user.lastname }}</td>
					<td>{{ user.login }}</td>
					<td>{{ user.email }}</td>
					<td>{% if user.isActive %}Yes{% else %}No{% endif %}</td>
					<td>{% if user.isSuperuser %}Yes{% else %}No{% endif %}</td>
					<td>
						<a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-default">show</a>
						<a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-default">edit</a>
					</td>
				</tr>
			{% endfor %}
        </tbody>
    </table>

    <nav class="text-center">
        {% include '@Task/shared/paginator.html.twig' with {paginator: paginator} %}
    </nav>

    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ path('user_new') }}">Create a new entry</a>
        </li>
    </ul>	
{% endblock %}
