<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Zenomania{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{{ asset('bundles/zenomaniacore/system/bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/zenomaniacore/plugins/bootstrap/style.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/zenomaniacore/css/style.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    {% stylesheets
        'bundles/zenomaniacore/system/dist/css/AdminLTE.min.css'
        'bundles/zenomaniacore/system/dist/css/skins/skin-blue.min.css'
        filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
	{% block stylesheets %}{% endblock %}

	<!-- REQUIRED JS SCRIPTS -->
	<!-- jQuery 2.1.4 -->
	<!-- Bootstrap 3.3.5 -->
	<!-- AdminLTE App -->
	{% javascripts
		'bundles/zenomaniacore/system/plugins/jQuery/jQuery-2.1.4.min.js'
		'bundles/zenomaniacore/system/bootstrap/js/bootstrap.min.js'
		'bundles/zenomaniacore/system/dist/js/app.min.js'
	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
    {% block js %}{% endblock %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

{% block bodyhtml %}
<body class="hold-transition login-page">

{% block body %}

{% endblock %}

{% endblock %}


{% block javascripts %}{% endblock %}
</body>
</html>
