{{ form_start(form) }}
<div class="input-group">
    {{ form_widget(form.query) }}
    <span class="input-group-btn">
                    {{ form_widget(form.search) }}
        {{ form_widget(form.clear) }}
                </span>
</div>
{{ form_end(form) }}