{% extends '::welcome.html.twig' %}

{% form_theme form _self %}

{% block captcha_widget %}
    {% if is_human %}
        -
    {% else %}
        {% spaceless %}
            <img id="{{ image_id }}" src="{{ captcha_code }}" alt="" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" />
            {% if reload %}
                <script type="text/javascript">
                    function reload_{{ image_id }}() {
                        var img = document.getElementById('{{ image_id }}');
                        img.src = '{{ captcha_code }}?n=' + (new Date()).getTime();
                    }
                </script>
                <a class="captcha_reload" href="javascript:reload_{{ image_id }}();">Обновить</a>
            {% endif %}
            {{ form_widget(form) }}
        {% endspaceless %}
    {% endif %}
{% endblock %}

{% block form_row %}
    <div class="form-group has-feedback">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block form_label %}
    {% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}

    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
{% endspaceless %}
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .craue_formflow_buttons {
            overflow: hidden;
        }

        .craue_formflow_buttons button {
            float: right;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Project</b>Management</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Регистрация</p>

            {{ form_start(form) }}

            {{ form_errors(form) }}

            {% if flow.getCurrentStepNumber() == 1 %}

                <div class="form-group has-feedback">
                    {{ form_widget(form.phone) }}
                    {{ form_errors(form.phone) }}
                    <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {{ form_widget(form.captcha) }}
                    {{ form_errors(form.captcha) }}

                </div>

                <div class="row">
                    <div class="col-xs-4">
                        {{ form_row(form.reset) }}
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        {{ form_row(form.submit) }}
                    </div>
                    <!-- /.col -->
                </div>
            {% elseif flow.getCurrentStepNumber() == 2 %}
                <div class="form-group has-feedback">
                    {{ form_widget(form.phone) }}
                    {{ form_errors(form.phone) }}
                    <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                </div>

                {{ form_row(form.sms_code) }}
                {{ form_widget(form.token) }}


                <div class="row">
                    <div class="col-xs-4">
                        {{ form_row(form.reset) }}
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        {{ form_row(form.submit) }}
                    </div>
                    <!-- /.col -->
                </div>
            {% else %}
                    {{ form_row(form.first_name) }}

                    {{ form_row(form.last_name) }}

                    {{ form_row(form.middle_name) }}

                    {{ form_row(form.password.first) }}

                    {{ form_row(form.password.second) }}

                    {{ form_row(form.login) }}

                <div class="row">
                    <div class="col-xs-4">
                        {{ form_row(form.reset) }}
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        {{ form_row(form.submit) }}
                    </div>
                    <!-- /.col -->
                </div>
            {% endif %}

            {{ form_end(form) }}

        </div>
        <!-- /.login-box-body -->
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/task/js/jquery.validate.min.js') }}"></script>
{% endblock %}