{% extends 'base.html.twig' %}

{% block body %}
    <h1>Players list</h1>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Middlename</th>
            <th>Birthdate</th>
            <th>Photo</th>
            <th>Is active</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td><a href="{{ path('player_show', { 'id': player.id }) }}">{{ player.id }}</a></td>
                <td>{{ player.firstname }}</td>
                <td>{{ player.lastname }}</td>
                <td>{{ player.middlename }}</td>
                <td>{% if player.birthdate %}{{ player.birthdate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if player.isActive %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a href="{{ path('player_show', { 'id': player.id }) }}" class="btn btn-default">show</a>
                    <a href="{{ path('player_edit', { 'id': player.id }) }}" class="btn btn-default">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ path('player_new') }}">Create a new player</a>
        </li>
    </ul>
{% endblock %}
