{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cities list</h1>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td><a href="{{ path('city_show', { 'id': city.id }) }}">{{ city.id }}</a></td>
                <td>{{ city.name }}</td>
                <td>
                    <a href="{{ path('city_show', { 'id': city.id }) }}" class="btn btn-default">show</a>
                    <a href="{{ path('city_edit', { 'id': city.id }) }}" class="btn btn-default">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ path('city_new') }}">Create a new city</a>
        </li>
    </ul>
{% endblock %}
